language = "cpp"
run = "mkdir build && cd build && cmake .. && make && echo \"\n\n============= PROGRAM OUTPUT ==============\" && ./bf ../examples/hello-world.bf && echo \"========== END OF PROGRAM OUTPUT ==========\n\n\" && cd .. && rm -rf build"